.CurrentCatalogComics{
    display: flex;
    justify-content: space-evenly;
}
.CurrentCatalogComics__comics{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.price{
	margin-bottom: 3em;
}
