.footer {
    background: white;
    /* height: 40px; */
    display: flex;
    justify-content: flex-start;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* margin-top: 30%; */
    
}

.footer h1{
  font-size: 20px;
  color: #F29414;
}
.footer img {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.site-footer{
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 10px;
}
.links {
  list-style: none;
}
.leftside {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.site-footer-copyright {
  box-sizing: border-box;
  margin-top: 5% ;
}

.footer{
    padding-top: 1%;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    color: rgb(226, 219, 219);
    font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
    padding-bottom: 5px;
}

.footer a, .footer p {
    color: darkseagreen;
    text-decoration: none;
    display: inline;

}

.footer a:hover, .footer p:hover {
    color: rgb(81, 248, 81);
}

.footer .contact {
    margin-left: 1.8%;
}
.footer .mail {
    margin-left: 5%;
}
.footer .phone {
    margin-left: 5%;
}
.footer .tgg {
    margin-left: 5%;
}

@media(max-width: 460px){
    .footer{
        font-size: 10px;
    }
}
@media(max-width: 365px){
    .footer{
        font-size: 14px;
    }
}

@media(min-width: 768px) and (max-width:1440px){
    .footer{
        font-size: 20px;
    }
}

@media(min-width: 1440px) and (max-width: 2560px){
    .footer{
        font-size: 32px;
    }
}
@media(min-width: 2560px){
    .footer{
        font-size: 20px;
    }
}