.Catalogs__catalog{
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.Catalogs__catalog:hover{
    background-color: #555;
}

.Catalogs__catalog--active{
    background-color: #eee;
}

.Catalog__picture{
    width: 200px;
    height: 300px;
}

.Catalogs{
    display: flex;
    justify-content: space-evenly;
}